/GET-NavesEstelares/node_modules
/GET-NavesEstelares/.env
/GET-NavesEstelares/package-lock.json

/GET-Peliculas-DynamoDB/node_modules
/GET-Peliculas-DynamoDB/.env
/GET-Peliculas-DynamoDB/package-lock.json

/GET-Personas/node_modules
/GET-Personas/.env
/GET-Personas/package-lock.json

/GET-Vehiculos/node_modules
/GET-Vehiculos/.env
/GET-Vehiculos/package-lock.json

/POST-Personas/node_modules
/POST-Personas/.env
/POST-Personas/package-lock.json